<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/home-bg.jpg')">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
                <h1>Saquib Hafiz</h1>
                <hr class="small">
                <span class="subheading">my opinion, my code, my life</span>
            </div>
        </div>
    </div>
</div>
</header>

<!-- Main Content -->
<div class="container" id="container">
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div id="post-previews"></div>

        <script id="post-preview-template" type="text/x-handlebars-template">
            <div class="post-preview">
                <a href="blog/{{ entry }}">
                    <h2 class="post-title">
                        {{ title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ subtitle }}
                    </h3>
                </a>
                <p class="post-meta">Posted on {{ date }}</p>
            </div>
            <hr>
        </script>

        <!-- Pager -->
        <ul class="pager">
            <li id="newer">
                <a href="#container">&larr; Newer Posts</a>
            </li>
            <li id="older">
                <a href="#container">Older Posts &rarr;</a>
            </li>
        </ul>
    </div>
</div>