<!-- jQuery -->
<script src="{{ depth }}js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ depth }}js/bootstrap.min.js"></script>

<!-- Clean Blog Theme JavaScript -->
<script src="{{ depth }}js/clean-blog.min.js"></script>

<!-- Prettify JavaScript -->
<script src="{{ depth }}js/google-code-prettify/prettify.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
    ! function ($) {
        $(function () {
            window.prettyPrint && prettyPrint()
        })
    }(window.jQuery)
});
</script>

<!-- Handlebars JavaScript -->
<script src="{{ depth }}js/handlebars.js"></script>

<!-- Custom JavaScript -->
<script src="{{ depth }}js/posts.js"></script>
<script src="{{ depth }}js/custom.js"></script>

<!-- MathJax JavaScript -->
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>