<p>
    Previously we discussed the negative number systems and the potential they contain. My goal is to explore this field and see how far I can go by expanding the possibilites of this basis. However to go any further we must first go over the basics, adding, subtracting, multiplying, dividing, negation, etc. Basically we need to learn how to perform arithmetic natively in this number system. This entry we will talk about the easiest ones, negation, addition and subtraction.
</p>
<p>
    Negation is a fun case when it comes to negative bases. Unlike the our natural number systems, the negation is implicit in the actual numbers rather then explicitly as a symbol ( - ) or digit. So how do we negate a number in this number system? After some pondering I decided to use a very simple and useful approach. 
</p>
<p>
    We know that \(-2x + x = -x\). This seems simple and useless and first until you realize that -2 is the same as a left shift, a simple operation that multiples the number by the base. Now all we have left to do is add the two numbers. However instead of using the usual add function (mostly because I hadn't written it yet) I decided to figure how to do it in the same function. There are 4 possible casses: \(0 + 0 = 0\), \(1 + 0 = 1\), \(0 + 1 = 1\) and \(1 + 1 = tricky\). Why is \(1 + 1\) tricky; because \(-2^n + -2^n = -2^{n+2} + -2^{n+1}\), with respect to the nth digit. 
</p>
<p>
    We would have to implement this anyways for the addition function but I discovered an interesting observation. We know that if that x at n is 1 then -2x at n+1 is 1 as well since they are the same. This is useful because \(2^{n+2} + -2^{n+1} = - {-2}^{n+1}\) which means that essential we can add -1 to the n+1 digit which we know is 1, thus automatically turning it to a 0. Using this cheat we construct the following function which turns a number negative in O(n) time where n is the number of digits in the answer.
</p>
<pre class="prettyprint"><code class="language-js">// based on the fact that -2x + x = -x
function negateBNT(n) {
    var result = [], carry = 0;

    for (var i = 0; i <= n.length; i++) {
        // the digit is the sum of the bottom digit
        // plus the top digit plus the carry
        var digit = (i < n.length ? n[i] : 0) + 
                    (i-1 >= 0 ? n[i-1] : 0) + carry;

        if (digit > 1) {
            carry = -1;
            digit = 0;
        } else {
            carry = 0;
        }

        result.push(digit);
    }

    return removeTrailingZeroes(result);
}

// just removes trailing zeroes that I was getting
// useful for other future functions
function removeTrailingZeroes(n) {
    while (n[n.length - 1] == 0) {
        n.pop();
    }

    return n;
}
</code></pre>
<p>
    We can reuse most of the code from negation in addition since we essentially add in it. But now we have to consider the case when we perform \(1 + 1\) at bit \(n\) but we dont have a 1 in either number at digit \(n+1\). We find that then \(1 + 1 = 110\) which allows us to add those to the carry value naturally. By acting on this special case where we check for a 1 in the \(n+1\) digit allows us to make sure the carry digit never goes above 1 so the highest single addition operation we have to worry about is \(1 + 1 + 1 = 111\) which we deal the same we deal with the previous case.
</p>
<pre class="prettyprint"><code class="language-js">function addBNTs(a, b) {
    var carry = [0], result = [];

    for (var i = 0; i < Math.max(a.length, b.length) + 2; i++) {
        var sum = (a.length > i ? a[i] : 0) + 
                (b.length > i ? b[i] : 0) + 
                carry[i];

        var digit = sum % 2;

        result[i] = digit;

        if (sum > 1) {
            if ((a.length > i+1 && a[i+1] == 1) ||
                (b.length > i+1 && b[i+1] == 1)) {
                carry[i+1] = -1;
            } else {
                carry[i+1] = 1;
                carry[i+2] = 1;
            }
        } else {
            if (carry.length == i+1) {
                carry[i+1] = 0;
            }
        }
    }

    return removeTrailingZeroes(result);
}
</code></pre>
<p>
    Instead of having subtraction be addition of negation I decided to write the function by hand. This one is actually easier because unlike the usual subtraction process there is no carrying of digits. Instead I still add carries similar to the process in addition and negation. The only special case is \(0 - 1\) because every other case is intuitive. Previously we have discused how \(-1 ~= 11\) thus \(0 - 1 ~= -1 ~= 11\). So we make the current digit 1 and add 1 to the carry.
</p>
<pre class="prettyprint"><code class="language-js">function subBNTs(a, b) {
    var carry = [0], result = [];

    for (var i = 0; i < Math.max(a.length, b.length) + 2; i++) {
        var diff = (a.length > i ? a[i] : 0) - 
                (b.length > i ? b[i] : 0) + 
                carry[i];
        
        if (diff < 0) {
            carry[i+1] = 1;
            diff = 1;
        } else {
            carry[i+1] = 0;
        }

        result[i] = diff;
    }

    return removeTrailingZeroes(result);
}
</code></pre>